*{
    box-sizing: border-box;
}


.container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 2rem 8%;
}
.box{
    padding: 2rem;
}
.one{
    background: #000;
}

.two{
    background: #6e1818;
}

.tree{
    background: #139b4c;
}

.grid-container{
    display: flex;
    justify-content: space-between;
    padding: 4rem 7%;
    align-items: center;
    gap: 2rem;
}
.img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.content{
    border: 1px solid #111;
    padding: 1rem;
    grid-column: span 1;
}
@media (max-width: 789px) {
    .container{
        grid-template-columns: 100%;
    }

    .grid-container{
        flex-direction: column;
    }
}